---
import LayoutAdministrador from "../layouts/LayoutAdministrador.astro";
---

<LayoutAdministrador title="Dashboard Administrador">
	<main>
		<h1>Dashboard Administrador</h1>
	</main>
</LayoutAdministrador>